* {
    margin: 0;
    padding: 0;
    border: 0;
}

body, html {
    width: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.header {
    height: 11em;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.header img {
    height: auto;
}

.header span {
    font-size: 2em;
    margin: 0 1.5em;
}

.header p {
    font-size: 2em;
    color: grey;
    margin-right: 1.5em;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.intro {
    display: flex;
    flex-direction: column;
    background-image: url('assets/menstrual-hero_mobile.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 70em;
    width: 100%;
}

.intro h2, h3, p {
    text-align: center;
}

.intro h2 {
    padding-top: 1.3em;
    font-size: 2.5em;
}

.intro h3 {
    font-size: 3.5em;
    padding-top: .5em;
}

.intro p {
    font-size: 2em;
    padding-top: 1.3em;
}

.button {
    width: 12em;
    background-color: #FD6A02;
    padding: 0.75em;
    font-size: 2em;
    font-weight: bolder;
    color: white;
    text-align: center;
    margin-top: auto;
    margin-bottom: 1em;
    align-self: center;
}

section {
    height: 60em;
    width: 93%;
    margin: 2.5em 0 0;
}

.care {  
    background-image: url(assets/bamboo_mobile.jpg);
    background-size: contain;
}

.care h3 {
    font-weight: 900;
    padding: 2em .5em 0;
    font-size: 5em;
    line-height: 1em;
    color: white;
}

.care p {
    padding: 1em 3em;
    color: white;
    font-size: 2.5em;
}

.noplastics {
    background-image: url(assets/pad_detail_mobile.jpg);
    background-size: cover;
}

.noplastics h3 {
    font-weight: 900;
    padding: 2em .5em 0;
    text-align: left;
    font-size: 4em;
    margin: 1em 1em 0;
    line-height: 1em;
}

.noplastics p {
    margin-left: 2.5em;
    padding-right: 10em;
    padding-top: 1em;
    font-size: 2.5em;
    text-align: left;
}

.designed {
    background-image: url(assets/pad_in_hand_mobile.jpg);
    background-size: cover;
    width: 93%;
    background-position-y: bottom;
}

.designed h3 {
    font-weight: 900;
    padding: 1em .5em 0;
    text-align: center;
    font-size: 4em;
    line-height: 1em;
}

.designed p {
    font-size: 2em;
    padding-top: 1em;
    text-align: center;
    line-height: 1.7em;
}

.products {
    height: 100%; 
}

.collection {
    text-align: center;
    font-size: 3em;
    margin: 3em auto;
}

.products div {
    height: 50em;
    margin-bottom: 25em;
}

.products div img {
    width: 100%;
}

.products div p {
    font-size: 2.5em;
    text-align: left;
    padding: 1em 2em 0;
}

.products div span {
    font-size: 3em;
    font-weight: bold;
    text-align: left;
    padding-left: 1.5em;
}

 .new {
    background-image: url(assets/new-to-public-goods_mobile.jpg);
    background-size: cover;
}

.new h3 {
    font-size: 4em;
    margin-top: 2em;
}

.new p {
    font-size: 2em;
    padding: 2em;
}

.press {
    background-image: url(assets/press-quotes.png);
    background-size: contain;
    width: 80%;
    background-repeat: no-repeat;
    text-align: center;
    height: 20em;
}

.quote {
    margin: 2em 0 0;
    color: grey;
    font-size: 1.5em;
}

footer {
    height: 50em;
    width: 100%;
    background-color: black;
}