* {
    margin: 0;
    padding: 0;
    border: 0;
}

body, html {
    width: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.header {
    height: 11em;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.header img {
    height: auto;
}

.header span {
    font-size: 2em;
    margin: 0 1.5em;
}

.header p {
    font-size: 2em;
    color: grey;
    margin-right: 1.5em;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.intro {
    display: flex;
    flex-direction: column;
    background-image: url('assets/menstrual-hero_mobile.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 70em;
    width: 100%;
}

.intro div {
    text-align: center;
}

.intro h2 {
    padding-top: 1.3em;
    font-size: 2.5em;
}

.intro h3 {
    font-size: 3.5em;
    padding-top: .5em;
}

.intro p {
    font-size: 2em;
    padding-top: 1.3em;
}

.button-mobile {
    width: 12em;
    background-color: #FD6A02;
    padding: 0.75em;
    font-size: 2em;
    font-weight: bolder;
    color: white;
    text-align: center;
    margin-top: auto;
    margin-bottom: 1em;
    align-self: center;
}

section {
    height: 60em;
    width: 93%;
    margin: 2.5em 0 0;
}

.care {  
    background-image: url(assets/bamboo_mobile.jpg);
    background-size: contain;
}

.care h3 {
    font-weight: 900;
    padding: 2em .5em 0;
    font-size: 5em;
    line-height: 1em;
    color: white;
}

.care p {
    padding: 1em 3em;
    color: white;
    font-size: 2.5em;
}

.noplastics {
    background-image: url(assets/pad_detail_mobile.jpg);
    background-size: cover;
}

.noplastics h3 {
    font-weight: 900;
    padding: 2em .5em 0;
    text-align: left;
    font-size: 4em;
    margin: 1em 1em 0;
    line-height: 1em;
}

.noplastics p {
    margin-left: 2.5em;
    padding-right: 10em;
    padding-top: 1em;
    font-size: 2.5em;
    text-align: left;
}

.designed {
    background-image: url(assets/pad_in_hand_mobile.jpg);
    background-size: cover;
    width: 93%;
    background-position-y: bottom;
}

.designed h3 {
    font-weight: 900;
    padding: 1em .5em 0;
    text-align: center;
    font-size: 4em;
    line-height: 1em;
}

.designed p {
    font-size: 2em;
    padding-top: 1em;
    text-align: center;
    line-height: 1.7em;
}

.products {
    height: 100%; 
}

.collection {
    text-align: center;
    font-size: 3em;
    margin: 3em auto;
}

.products div {
    height: 50em;
    margin-bottom: 25em;
}

.products div img {
    width: 100%;
}

.products div p {
    font-size: 2.5em;
    text-align: left;
    padding: 1em 2em 0;
}

.products div span {
    font-size: 3em;
    font-weight: bold;
    text-align: left;
    padding-left: 1.5em;
}

.button-shop {
    visibility: hidden;
}

 .new {
    background-image: url(assets/new-to-public-goods_mobile.jpg);
    background-size: cover;
}

.new h3 {
    font-size: 4em;
    margin-top: 2em;
}

.new p {
    font-size: 2em;
    padding: 2em;
}

.press {
    background-image: url(assets/press-quotes.png);
    background-size: contain;
    width: 80%;
    background-repeat: no-repeat;
    text-align: center;
    height: 20em;
}

.quote {
    margin: 2em 0 0;
    color: grey;
    font-size: 1.5em;
}

footer {
    height: 50em;
    width: 100%;
    background-color: black;
}

@media only screen and (min-width: 992px) {

    .main {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        align-items: center;
    }

    section {
        height: 30em;
        width: 95%;
        margin: 2.5em 0 0;
    } 

    .intro {
        background-image: url('assets/menstraul-hero_desktop.jpg');
        height: 35em;
        flex-basis: 100%;
    }

    .intro div {
        text-align: left;
        margin-left: 6em;
    }

    .intro h2 {
        font-size: 2em;
    }

    .intro h3 {
        font-size: 2.5em;
    }

    .intro p {
        font-size: 1.5em;
        padding-top: 1em;
    }

    .button-mobile {
        display: none;
    }

    .button-desktop {
        width: 9em;
        background-color: #FD6A02;
        padding: 0.75em;
        font-size: 1.3em;
        font-weight: bolder;
        color: white;
        text-align: center;
        margin-top: 1.5em;
        margin-left: 4.5em;
        align-self: flex-start;
    }

    .care {  
        background-image: url(assets/bamboo_desktop.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        text-align: center;
    }

    .care h3 {
        font-weight: 900;
        padding: 2em .5em 0;
        font-size: 3em;
        line-height: 1em;
        color: white;
    }
    
    .care p {
        width: 40%;
        color: white;
        margin: 0 auto;
        font-size: 1.2em;
    }

    .noplastics {
        flex-basis: 46%;
        margin-right: 1.5em;
    }

    .noplastics h3 {
        margin-left: .5em;
        line-height: 1.2em;
        font-size: 2em;
    }

    .noplastics p {
        font-size: 1.15em;
        margin-left: 1.5em;
        padding-right: 15em;
    }

    .designed {
        background-image: url(assets/pad_in_hand_desktop.jpg);
        flex-basis: 46%;
        margin-left: 1.5em;
    }

    .designed h3 {
        margin-left: .5em;
        line-height: 1.2em;
        font-size: 2em;
        text-align: left;
    }

    .designed p {
        width: 40%;
        font-size: 1.15em;
        margin-left: 1.5em;
        padding-right: 15em;
        text-align: left;
    }

    .products {
        display: flex;
        height: auto;
    }

    .products div {
        height: auto;
        margin: 0 1em;
    }

    .products div p {
        font-size: 1em;
        padding: 0;
        margin-top: 1em;
    }
    
    .products div span {
        font-size: 1.5em;
        padding: 0;
    }

    .collection {
        display: none;
    }

    .button-shop {
        visibility: visible;
        width: 7em;
        background-color: #FD6A02;
        color: white;
        padding: 0.75em;
        font-size: .85em;
        font-weight: bolder;
        text-align: center;
        margin-top: 2.5em;
    }

    .new {
        background-image: url(assets/new-to-public-goods_desktop.jpg);
        background-size: cover;
        background-position-y: bottom;
        background-repeat: no-repeat;
        
    }

    .new h3 {
        font-size: 2em;
        margin-left: 1em;
    }

    .new p {
        font-size: 1em;
        width: 30%;
    }
    
}